<!DOCTYPE html>
<html lang="en">
  <head>
        <script src="/js/json2.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/eventManager.js"></script>
        <script src="/js/cargaEvento.js"></script>
        <link href="/css/eventos.css" rel="stylesheet">
  </head>
    <body>
        Pantalla para la carga de datos inicial de evento
        <input type="submit" name="submit" id="submit"  />
        
        <!--
        Agregar archivos de cliente particular para
        esta pantalla
        -->
    </body>
</html>