<!DOCTYPE html>
<html>
  <head>
    <title>Error inesperado en nuestro sistema de eventos</title>
    
  </head>
  <body>
    <h1>Unexpected error en plena clase</h1>
    <p> <%= error %></p>
  </body>
</html>