<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="/css/eventos.css" rel="stylesheet">
  </head>
    <body>
        <p>carga de los datos basicos del evento</p>
        <p>Tipo evento: <%= tipoEvento %></p>
        <ul id="eventoInicio_tipoEventos" >
        </ul>
        
        <div id="eventoInicio_tipoEvento_description" >
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/eventManager.js"></script>
        <script src="/js/eventosInicio.js"></script>
    </body>
</html>