<!DOCTYPE html>
<html lang="en">
  <head>
      <link href="/css/eventos.css" rel="stylesheet">
  </head>
    <body>
        <p>Las ofertas disponibles para </p>
         <h1><%= evento_id %> </h1>
        <h1><%= actividad %> </h1>
        <input type="hidden" value="<%= evento_id %>" id="eventId" />
        <input type="hidden" value="<%= actividad %>" id="actividad" />
        
        <script src="/js/jquery.js"></script>
        <script src="/js/eventManager.js"></script>
        <!--
            
Crear tu propio archivo js
Llamar a ofertas/list?actividad=plato_fuerte

Obtener la lista de ofertas para la actividad, pintarlas y luego dar la capacidad para elegir una

        -->
    </body>
</html>